<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Exo:400,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/sample2.css">
</head>
<body>


<div class="container">
    <nav class="navbar navbar-expand-lg">
        <img class="ml-header-logo" src="https://static1.squarespace.com/static/565ee3b6e4b0f18e76b9f7a9/t/565ee5cde4b0c49af4b10b28/1515065980760/?format=300w">
        <a class="navbar-brand">Data Validator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" id="go-back-button">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Privacy Policy</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="bg">
    <div class="header-text">
        <h1>Flexible Landing Page</h1>
        <p>A simple and modern one page business theme for your company</p>
        <button>CALL TO ACTION</button>
    </div>
</div>

<p style="padding:5px 15px">This example creates a full page background image. Try to resize the browser window to see how it always will cover the full screen (when scrolled to top), and that it scales nicely on all screen sizes.</p>
</body>
</html>